.todolist {
  margin: 30px;
  width: 300px;
  background-color: beige;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}

h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 70%;
}

form > button {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
  height: 30px;
  width: 20%;
  background-color: yellowgreen;
  border: none;
  color: white;
}

ul > li > span {
  cursor: pointer;
}

ul > li > button {
  margin-left: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
}

.inputzone > span {
  margin-right: 10px;
}
